################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OnlineFoodOrder
/CommonObjects/bin/Debug
/CommonObjects/obj
