
@{
    ViewData["Title"] = "Index";
}

<div class="row mt-3">
    <div class="col-12">
        <span style="font-size: 30px; font-weight:500; color: #4d4d4d;" id="spCityName"></span>
    </div>
</div>
<div class="mt-5" id="dvRestaurantList">

</div>



@section scripts {
    <script>

        $(document).ready(function () {
            getRestaurantDataByCityId($('#selCity').val());
        });

    </script>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
}
